.navbar{
    width:1300px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    align-items: center;
    width:800px;
    z-index: 1;
    text-align: left;
}

.navbar-logo img{
    width: 200px;
    margin-left:30px
}

.navbar-components{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 1300px
}

.navbar-components h2{
    font-weight: 400;
    color: rgb(59, 59, 59);
}

.navbar a{
    text-decoration: none;
    color:black
}

@media(max-width: 710px){
    .navbar-logo{width:600px}
    .navbar-logo img{width:150px}
    .navbar-components h2{font-size:1.4rem}
    .navbar-logo img{margin-left: 20px;}
}

@media(max-width:574px){
    .navbar-logo{width:500px}
    .navbar-logo img{width:120px}
    .navbar-components h2{font-size:1.2rem}
    .navbar-logo img{margin-left: 10px;}
}

@media(max-width:490px){
    .navbar-components h2{font-size: 1rem;}
    .navbar-logo img{margin-left:0px;}
}
